/**
* styles for the entire application and also common classes in all my scss files
* @version: 1.0
* @copyright: nerdeez.com Ltd
* @author: Yariv Katz
*/


html, body {
    height: 100%;
    background-image: url('/static/theme/img/signin/login-bg.png') !important;
}

#push, #footer {
    height: 50px;
}

#footer{
    padding: 0 !important;
    ul{
        list-style: none;
        li{
            float: left;
        }
        li:nth-of-type(2){
            margin-left: 15px;margin-left: 15px
        }
    }
}

#wrap {
    height: auto !important;
    margin: 0 auto -51px;
    min-height: 100%;
}

/**
 *   top margins between rows and elements
 */
.top-buffer{
    margin-top: 20px;
}

/**
 *   text input height
 */
.nerdeez-text-input{
    height: 30px !important;
    font-size: 20px !important;
}

.nerdeez-add-on{
    height: 30px !important;
    width: 30px !important;
    i{
        font-size: 22px;
        position: relative;
        top: 4px;
    }
}

.info{
    i{
        margin-right: 20px;
    }
}

.application{
    .loading{
        background-color: #CCCCCC;
        height: 100%;
        left: 0;
        opacity: 0.42;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        i{
            font-size: 168px;
            left: 46%;
            position: relative;
            top: 40%;
        }
    }
}

