/**
* styles for the header
* @version: 1.0
* @copyright: nerdeez.com Ltd
* @author: Yariv Katz
*/

._header{
    /*@include background(linear-gradient(to bottom, #3D3D3D, #454545));
    @include border-radius(0px 0px 10px 10px);*/
    .logo{
        position: relative; top: 15px;
        img{
            height: 51px;
        }
        span{
            position: relative; top: 11px; left: 6px;
            color: white;
            font-family: Londrina Shadow;
            font-size: 31px;
        }
    }
    .menu{
        position: relative;
        top: 32px;
    }
}