/**
* styles for the header
* @version: 1.0
* @copyright: nerdeez.com Ltd
* @author: Yariv Katz
*/

._header{
    /*@include background(linear-gradient(to bottom, #3D3D3D, #454545));
    @include border-radius(0px 0px 10px 10px);*/
    .logo{
        position: relative; top: 15px;
        img{
            height: 51px;
        }
        span{
            position: relative; top: 11px; left: 6px;
            color: white;
            font-family: Londrina Shadow;
            font-size: 31px;
        }
        &:hover{
            text-decoration: none !important;
        }
    }
    .menu{
        position: relative;
        top: 32px;
        a.active{
            display: block; 
            @include box-shadow(none);
            box-shadow: none !important;
            background: none repeat scroll 0% 0% white ! important; 
            border-bottom-color: white !important; 
            color: rgb(67, 109, 47) !important; 
            @include text-shadow(none);
            text-shadow: none !important;
            filter: none ! important;
        }
        li:last-child{
            margin-right: 0 !important;
        }
    }
}