/**
 * the stylesheet for a question page
 *
 * Created August 4th, 2013
 * @author: Yariv Katz
 * @version: 1.0
 * @copyright: nerdeez Ltd.
 */
 
.question{
    .button-container{
        text-align: center;
        width: 67% !important;
        button{
            width: 40%;
            i{
                position: relative;
                left: -10px;
            }
        }
        button:nth-of-type(2n){
            float: right;
        }
        button:nth-of-type(2n-1){
            float: left;
        }
        .input-container{
            margin: 0 auto 10px;
            text-align: center;
            width: 59%;
            select{
                width: 100%;
            }
            input[type="text"]{
                width: 96%;
            }
            label{
                text-align: left;
            }
            button{
                float: none;
                clear: both; 
                margin: 0 auto;
            }
        }
    }
}