<!--

Holds the html of the application header
author: Yariv Katz
copyright: nerdeez.com
version: 1.0

-->

<div class="_header">
	<div class="row">
		<div class="span2 logo">
			<img src="{{unbound view.staticUrl}}img/logo.png" />
            <span>Fitting your gifts</span>
		</div>
		<div class="span5 pull-right menu">
			<ul class="nav nav-pills pull-right">
				<li>
					<a href="/#/about">About</a>
				</li>
                <li>
                    <a hred="#" >Contact Us</a>
                </li>
                <li class="active">
    				<a href="/#">Home</a>
				</li>
			</ul>
		</div>
	</div>
</div>