{{partial "header"}}
<div class="container application">
    {{loading Fitagift isLoadingBinding="Fitagift.isLoading"}}
    <div class="container top-buffer">
	    <div class="row">
		    <div class="span12">
			    {{outlet}}
			</div>
		</div>
	</div>
</div>
<div id="push"></div>

    