<div class="flatpage">
    <div class="container">
        <div class="row">
            <div class="span12">
            {{#each controller}}
                <div class="hero-unit">
                    {{{html}}}
                </div>
            {{/each}}
            </div>
        </div>
    </div>
</div>