<div class="index">
    <div class="account-container login stacked">
        <div class="">
            <div class="">
                <div class="explain top-buffer">
                    <h1>
                    Find the perfect gift!
                    </h1>
                    <h5>
                    Click Start, Answer the following questions, and find out the perfect gift for your loved ones.
                    </h5>
                </div>
                <div class="button-container top-buffer">
                {{#linkTo questions classNames="btn btn-large btn-primary btn-block btn-big-block"}}
                <i class="icon-flag-checkered"></i>
                START
                {{/linkTo}}
                </div>
            </div>
        </div>
    </div>
</div>